<div class="container">
  <form>
    <div class="text-center">
      <legend>Log In</legend>
    </div>
      <div class="container text-center">
        <label for="uname"><b>Username</b></label><br>
        <input type="text" placeholder="Enter Username" name="uname" required><br>
        <label for="psw"><b>Password</b></label><br>
        <input type="password" placeholder="Enter Password" name="psw" required><br>
        <label><input type="checkbox" name="remember"> Remember me</label><br>
        <label type="text" name="signup"><a href="#!signup">Dont have an account? Sign up now!</a></label>
      </div>
      <div class="text-center">
      <button type="submit">Login</button></div>
      <div class="container text-center" style="background-color:#f1f1f1">
        <span class="psw"><a href="#" routerLink="/main-page">Forgot password?</a></span>
      </div>
    </form>
</div>