<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul></ul>
      <ul class="nav navbar-nav navbar-center">
            <li><a href="#"><img src="https://i.ibb.co/C8RdHfB/logo.png" alt="logo" border="0" align="center"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" routerLink="/check-out-preview"><i class="material-icons" style="font-size:40px;color:teal">shopping_cart</i></a>
            <a href="#" routerLink="/login"><i class="material-icons" style="font-size:40px;color:teal">account_circle</i></a>
        </li>
      </ul>
  </div>
</nav>