<div class="container col-md-6">
  <div class="row">
    <div class="col-md-6">
        <!--<a href="https://imgbb.com/"><img src="https://i.ibb.co/DYd11gs/xps-15-lt-2018-6-6.jpg" alt="xps-15-lt-2018-6-6" border="0"></a>-->
      <img src="https://i.ibb.co/DYd11gs/xps-15-lt-2018-6-6.jpg" alt="Laptop">
      <br>
      <hr>
      <div class="text-center" >
          <button><i class="material-icons">arrow_back</i></button>
          <button><i class="material-icons">arrow_forward</i></button>
        </div>
      <hr>
      <div class="row">
          <div class="col col-md-6">
              <legend class="text-center">Description</legend>
              <div class="text-center">
              <label>XPS 15 inch 9570 High Performance 4K laptop with 
                InfinityEdge 
                Dell United States
              </label></div>
            </div>
            <div class="col col-md-6">
              <legend class="text-center">Specs</legend>
              <div class="text-center">
              <label>6th Generation Intel Core i7-6560U($m Cache, up to 3.2 Ghz) 
                13.3 QHD+ (3200 x 1800) InfinityEdge touch display Intel Iris Graphics
                540 Windows 10Home 64-bit English
              </label><br></div>
            </div>
      </div>
    </div>
    <div class="col-md-6">
      <hr>
        <legend class="text-center">DELL XPS</legend>
        <div class="text-center">
          <label>Price:</label>
          <label style="color:red">3500.95 KM</label><br>
          <label>Old Price:</label>
          <label>3600 KM</label>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
          <div class="text-center">
            <a href="#" routerLink ="/check-out-preview"><img src="https://i.ibb.co/7xcXQ6k/buy.png" alt="buy" border="0"></a>
            <br>
            Add to Cart
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
