<div class="text-center">
    <div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Available in the store</h4>
      </div>
      <div class="row">
        <div class="col-md-4">
            <a href="#" routerLink="/item-preview"><img src="https://i.ibb.co/cNT1Yws/xps-15-lt-2018-6-6.jpg" alt="xps-15-lt-2018-6-6" border="0"></a>
            <legend class="text-center">DELL XPS</legend>
            <div class="text-center">
                <label>XPS 15 inch 9570 High Performance 4K laptop with 
                  InfinityEdge 
                  Dell United States
                </label></div>
        </div>
        <div class="col-md-4">
            <a href="#" routerLink="/item-preview"><img src="https://i.ibb.co/cNT1Yws/xps-15-lt-2018-6-6.jpg" alt="xps-15-lt-2018-6-6" border="0"></a>
            <legend class="text-center">DELL XPS</legend>
            <div class="text-center">
                <label>XPS 15 inch 9570 High Performance 4K laptop with 
                  InfinityEdge 
                  Dell United States
                </label></div>
          </div>
          <div class="col-md-4">
              <a href="#" routerLink="/item-preview"><img src="https://i.ibb.co/cNT1Yws/xps-15-lt-2018-6-6.jpg" alt="xps-15-lt-2018-6-6" border="0"></a>
              <legend class="text-center">DELL XPS</legend>
              <div class="text-center">
                  <label>XPS 15 inch 9570 High Performance 4K laptop with 
                    InfinityEdge 
                    Dell United States
                  </label></div>
            </div>
      </div>
    </div>
  </div>
</div>
<button href='#' routerLink='/item-preview'></button>