<div class="container col-md-6">
  <form class="text-center" (ngSubmit)="payUp($event)">
  <div class="row">
  <div class="col col-md-12">
    <legend class="text-center">Credit Card information</legend>
    <label>Card Number</label><br>
    <input size="20" type="number" name="cardNumber"/><hr>
    <label>Security Code</label><br>
    <input size="20" type="number" name="securityCode"/><hr>
    <label>Expiration month</label><br>
    <input size="20" type="text" name="expirationMonth"/><br><hr>
    <label>Expiration year</label><br>
    <input size="20" type="text" name="expirationYear"/><br>
    <hr>
    <label>{{total}}}</label>
    <a href="#"><img src="https://i.ibb.co/3y71sM1/card.png" alt="card" ></a>
  </div>
</div>
</form>
</div>