<div class="container col-md-6">
  <form class="text-center" (ngSubmit)="submitCheckout($event)">
  <div class="row">
  <div class="col col-md-6">
    <legend class="text-center">Personal Information</legend>
        <label>Name</label><br>
        <input size="20" type="text" name="name"/><hr>
        <label>Address</label><br>
        <input size="20" type="text" name="address"/><hr>
        <label>Email</label><br>
        <input size="20" type="text" name="email"/><hr>
        <label>City</label><br>
        <input size="20" type="text" name="city"/><hr>
        <label>ZIP</label><br>
        <input size="20" type="number" name="zip"/><br>
        <br>
  </div>
  <div class="col col-md-6">
    <legend class="text-center">Credit Card information</legend>
    <label>Card Number</label><br>
    <input size="20" type="number" name="cardNumber"/><hr>
    <label>Security Code</label><br>
    <input size="20" type="number" name="securityCode"/><hr>
    <label>Expiration month</label><br>
    <input size="20" type="text" name="expirationMonth"/><br><hr>
    <label>Expiration year</label><br>
    <input size="20" type="text" name="expirationYear"/><br>
    <hr>
    <label>{{purchase.total}} KM</label>
    <a href="#"><img src="https://i.ibb.co/3y71sM1/card.png" alt="card" ></a>
  </div>
</div>
</form>
</div>