<div class="text-center">
    <div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Cart Overview</h4>
      </div>
      <div>
        <form action="submit">
        <table class="table">
          <thead>
            <th>Articles</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </thead>
          <tbody *ngFor="let article of articles">
            <td>{{article.number}}</td>
            <td>{{article.price}}</td>
            <td>{{article.quantity}}</td>
            <td>{{article.total}}</td>
          </tbody>
        </table>
        </form>
        <hr>
        <label>Proceed to Check Out!</label>
        <br>
        <a href="#" routerLink="/check-out-final"><img src="https://i.ibb.co/1fSfsy3/hand.png" alt="hand" border="0"></a>
      </div>
    </div>
  </div>
</div>