<div class="text-center">
    <div class="container col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Cart Overview</h4>
      </div>
      <div>
        <table class="table">
          <thead>
            <th>Articles</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Specialization</th>
          </thead>
          <tbody>
            <!-- ispis ovdje ide-->
          </tbody>
        </table>
        <hr>
        <label>Proceed to Check Out!</label>
        <br>
        <a href="#" routerLink="/check-out-final"><img src="https://i.ibb.co/1fSfsy3/hand.png" alt="hand" border="0"></a>
      </div>
    </div>
  </div>
</div>